<a href="https://colab.research.google.com/github/dwds186/alphaco_test/blob/main/0925.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#제어문 반복문

##단일 조건에 따른 분기

In [ ]:
#시험 점수
x = 95
if x >= 90:
    print("pass")
    # 인덴테이션 중간에 space나 tab으로 인덴테이션 해주세요

pass

In [ ]:
x = int(input("점수 입력해주세요 : "))

if x >= 90:
    print("90점 이상입니다.")

점수 입력해주세요 : 91
90점 이상입니다.

## 단일 조건 및 그 외 조건에 따른 분기

In [ ]:
x = int(input("점수 입력해주세요 : "))

if x >= 90:
    print("pass")
else:
    print("fail")

# 조건문 만들 때 true 조건문 만드는것이 제일 어렵고 핵심

점수 입력해주세요 : 89
fail

합격 / 불합격 만드는 일

시나리오1
=> 문제 정의
=> 점수가 90점 이상이면 합격 처리를 하고, 그 외는 불합격 처리 하자

시나리오2.
=> 문제 정의
=> 점수가 90점 이상이면 합격 처리를 하고,
=> 점수가 80점 이상이면 조건부 합격 처리를 하자.
=> 그 외는 불합격 처리

In [ ]:
count = 2
while(count >0):
    x = int(input("점수 입력해주세요 : "))
    if x >= 90:
        print("pass")
    else:
        print("fail")
    count = count -1
print("the end")

점수 입력해주세요 : 90
pass
점수 입력해주세요 : 89
fail
the end

##여러 조건에 따른 분기

In [ ]:
x = int(input("점수 입력해주세요 : "))

if x >= 90:
    print("pass")
elif (x>=80) and (x<90):
    print("conditional pass")
else:
    print("fail")

점수 입력해주세요 : 87
conditional pass

##중첩 조건에 따른 분기
시나리오
90점 넘으면 합격, 그 중에서 100점 자에게는 장학금 지급
나머지 조건 같음 80점 이상은 조건부 합격
그 외 불합격

In [ ]:
x = int(input("what is your score? : "))

if x >= 90:
    if x == 100:
        print("scholrarship")
    print("pass")
elif (x>=80) and (x<90):
    print("conditional pass")
else:
    print("fail")

what is your score? : 100
scholrarship
pass

#반복문

In [ ]:
for i in range(3):
    print("hello")
#hello 3번 출력됨

hello
hello
hello

-시퀀스 자료형이 range 대신에 들어갈 수 있음

In [ ]:
from collections.abc import Sequence

my_num = 100
my_list = [1, 2, 3]
my_string = "hello"

is_num = isinstance(my_num, Sequence)
is_list = isinstance(my_list, Sequence)
is_string = isinstance(my_string, Sequence)

print(is_num)
print(is_list)
print(is_string)

False
True
True

In [ ]:
for i in my_list:
    print(i)

1
2
3

In [ ]:
list(range(3))

[0, 1, 2]

##중첩 for문
-구구단 검색

In [ ]:
x_list = ["x1", "x2"]
y_list = ["y1", "y2"]

#원하는 결과물은
# x1 y1
# x1 y2 등등

for x in x_list:
    print(x)
    for y in y_list:
        print(x, y)
    print("y반복문 종료")

x1
x1 y1
x1 y2
y반복문 종료
x2
x2 y1
x2 y2
y반복문 종료

##여러 개의 리스트 다루기

In [ ]:
names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

#idx means index number
for idx in range(len(names)):
    #print(idx)
    print(names[idx], scores[idx])

James 95
Robert 96
Lisa 97
Mary 94

In [ ]:
#파이썬은 반복문을 다양하게 구현 가능함 chat gpt 한테 물어보세요

names = ['James', 'Robert', 'Lisa', 'Mary']
scores = [95, 96, 97, 94]

for name, score in zip(names, scores):
    print(name, score)

James 95
Robert 96
Lisa 97
Mary 94

##리스트 컴프리헨션

In [ ]:
numbers = [1,2,3,4,5]
result = []
for x in numbers:
    #각요소마다2씩곱해주세요
    #print(x*2)
    result.append(x*2)
print(result)

[2, 4, 6, 8, 10]

In [ ]:
#위 내용을 한줄로 처리하는 것이 리스트 컴프리헨션임
numbers = [1,2,3,4,5]
result2 = [x*2 for x in numbers]
print(result2)

# 파이썬은 이런식으로 한 줄로 처리하는 거 굉장히 좋아함
# 다른 언어에서는 삼항 연산자 이런 컨셉으로 불림

[2, 4, 6, 8, 10]

In [ ]:
numbers = [1,2,3,4,5,6]
result = []
for x in numbers:
    if x % 2 == 0:
        #print(x)
        result.append(x)
result

2
4
6

[2, 4, 6]

In [ ]:
#짝수만 출력하세요

numbers = [1,2,3,4,5,6]
result2 = [x for x in numbers if x % 2 ==0]

print(result2)

[2, 4, 6]

##while 반복문
-조건문이 참일 때만 반복해서 실행함
-데이터 분석 : 데이터셋이 정해져 있음
  +행과 열이 고정되어 있음
  +범위가 주어진 상태

In [ ]:
#while True:
#    print("hello")
#이렇게 하면 계속 참이기 때문에 계속 해서 무제한으로 hello를 출력하게 됨

i = 0
total = 0
while (total < 20):
    i = i + 1
    total = total + i
    print(i, total)
# total이 21이 된 상태에서 다시 while문 들어가면 조건이 false라서 멈춤

1 1
2 3
3 6
4 10
5 15
6 21

In [ ]:
k=0
while True:
    k = k + 1 #k는 1씩증가
    print("hello")
    if (k>3):
        print(k)
        break # while 또는 for에서 강제적으로 종료

hello
hello
hello
hello
4

##사용자 정의 함수

In [ ]:
def my_1st_func():
    print("hello")
    print("nice to meet you")

my_1st_func()
my_1st_func()

hello
nice to meet you
hello
nice to meet you

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def say_hello(self):
        print("안녕하세요! 제 이름은 {}입니다. {}살입니다.".format(self.name, self.age))

    def more(self):
        print("one more!")
        self.say_hello()

person1 = Person("Alice", 20)

person1.say_hello()

#person1.more()
#print(person1.name, person1.age)

안녕하세요! 제 이름은 Alice입니다. 20살입니다.

In [ ]:
class student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
    def info(self):
        print("Student information ")

##인자(인수)는 있으나 반환 값이 없는 함수

In [ ]:
def my_friend(name):
    print(f"{name} is my friend. ")
    print("{} is my friend.".format(name))

my_friend("andy")

# 인수를 입력하지 않으면 type error가 발생합니다

andy is my friend.
andy is my friend.

In [ ]:
import pandas as pd

#pd.read_csv() # read_csv() missing 1 required positional argument: 'filepath_or_buffer'
#해당 메소드는 하나의 필수적인 아규먼트가 필요합니다

##인자(인수)는 있으나 반환값이 있는 함수

In [ ]:
def my_calc(x,y):
    z = x*y
    return z

print(my_calc(3,4))

12

##변수의 유효 범위
-키워드 : 전역변수, 지역변수

In [81]:
a = 5 #전역 변수

def func1():
    a = 1 # 지역 변수
    print("func[1]의 지역변수 a =", a)

def func2():
    a = 2 # 지역 변수
    print("func[2]의 지역변수 a =", a)

def func3():
    print("func[3]의 지역변수 a =", a)

def func4():
    global a
    a = 4
    print("func[4]의 전역 변수 a =", a)

func1()
func2()
func3()

func[1]의 지역변수 a = 1
func[2]의 지역변수 a = 2
func[3]의 지역변수 a = 5

In [77]:
func1()
func2()
print("전역변수a = ", a) # 전역 변수 출력

func[1]의 지역변수 a = 1
func[2]의 지역변수 a = 2
전역변수a =  5

In [79]:
func3()

func[3]의 지역변수 a = 5

In [82]:
func4()

func[4]의 전역 변수 a = 4

In [83]:
func3()

func[3]의 지역변수 a = 4

In [86]:
c = 1

#def add():
#    c = c +2
#    print(c)
#add()
#에러 발생! local variable 'c' referenced before assignment

def add():
    global c
    c = c +2
    print(c)
add()

3

##가변 인수 예제
-학생의 점수를 입력 받아서 평균 점수를 계산 하는 함수
문제점 : 각 학생들마다 시험 본 과목 수가 다 다름

a는 3과목
b는 2과목
c는 5과목

In [96]:
def calculate_average(name, *scores):
    if scores:  # 가변 인수가 비어있지 않은지 확인
        average_score = sum(scores) / len(scores)
        print(f"{name}의 평균 점수는 {average_score:.2f}점입니다.")
    else:
        print(f"{name}의 점수를 입력하지 않았습니다.")

In [97]:
a_scores = [100,90,80]
b_scores = [100,0]
c_scores = [100,90,80,70,60]

#calculate_average("a", a_scores) 이거 그냥 스스로 해본 건데 이렇게 구현 불가능함
#calculate_average("b", b_scores)
#calculate_average("c", c_scores)

calculate_average("a", 100,90,80)
calculate_average("b", 100,50)
calculate_average("c", 100,90,80,70,60)
calculate_average("d")

#만약에 리스트로 만들거면 조건문을 수정하면 됨 len(scores) >0 뭐 이런식으로 해서 리스트에 하나 이상의 숫자가 들어 있는지 1과목 이상 응시했는지 확인하면 가능

a의 평균 점수는 90.00점입니다.
b의 평균 점수는 75.00점입니다.
c의 평균 점수는 80.00점입니다.
d의 점수를 입력하지 않았습니다.

##키워드 인수 확인 예제
- 학생의 이름, 과목별 점수, 그리고 학년을 받아서 학생의 성적을 출력하는 함수

고정 인수 : 학생 이름
가변 인수 : 여러 개의 과목 점수
키워드 인수 : 학년 정보

가변인수는 튜플로 키워드는 딕셔너리로

In [98]:
# *argus **kwargus

def student_report(name, *scores, **details):
    print(f"학생 이름: {name}")

    # 점수가 입력된 경우에만 평균을 계산
    if scores:
        average_score = sum(scores) / len(scores)
        print(f"평균 점수: {average_score:.2f}")
    else:
        print("점수를 입력하지 않았습니다.")

    # 키워드 인수로 전달된 추가 정보를 출력
    for key, value in details.items():
        print(f"{key}: {value}")

# 함수 호출 예제
student_report("Alice", 88, 92, 85, grade="2학년", school="Seoul High School")
print("\n")
student_report("Bob", 75, 80, 78, 90, grade="3학년", school="Busan High School", hobby="축구")
print("\n")
student_report("Charlie", grade="1학년")

학생 이름: Alice
평균 점수: 88.33
grade: 2학년
school: Seoul High School


학생 이름: Bob
평균 점수: 80.75
grade: 3학년
school: Busan High School
hobby: 축구


학생 이름: Charlie
점수를 입력하지 않았습니다.
grade: 1학년

#람다(lambda) 함수
사용자 정의 함수와 비슷

In [99]:
(lambda x : x**2)(3)

9

In [101]:
sampleFunc = lambda x,y,z : x**2 + 3*y + z
sampleFunc(1,2,3)
# 이런식으로 람다 함수를 이용해서 함수를 한 줄로 간단하게 작업할 수 있게 됨
# 1 + 6+3 =10

10

#context manager, decorator
-클로저에 대해서 알고 있어야함
  함수 안에 또 다른 함수 만들기
-

In [102]:
import time

#코드가 돌아가는 시간을 체크하는 함수

def time_decorator(func):
    def wrapper(*args, **kwargs):
        start_time = time.time()
        result = func(*args, **kwargs)
        end_time = time.time()
        print(f"Function '{func.__name__}' executed in {end_time - start_time:.4f} seconds")
        return result
    return wrapper

@time_decorator
def slow_function():
    time.sleep(2)
    return "Finished"

# 사용 예시
slow_function()

Function 'slow_function' executed in 2.0029 seconds

'Finished'

데코레이터 쓰는 이유

나중에 10gb 분량의 데이터 모았는데 더욱 더 빠르게 처리하는 사람이 생산성이 높은 것임
그럴 때 시간 측정을 하기 위해서 데코레이터 사용하면 좋음

#클래스 왕기초

In [122]:
class 책:
    title = None #속성
    author = None #속성
    pages = 0 #속성
    price = 0 #속성
    discount = 0 #속성

    def 읽는시간(self,reading_speed=30):
        return round(self.pages / reading_speed, 1)


# 인스턴스를 생성한다

책01호 = 책()
책01호.title = "streamlit"
책01호.author = "evan"
책01호.pages=500
책01호.price=40000
책01호.discount=10

print(책01호.title)

streamlit

In [124]:
# 인스턴스를 생성한다

책01호 = 책()
책01호.title = "streamlit"
책01호.author = "evan"
책01호.pages=560
책01호.price=40000
책01호.discount=10

print(책01호.title)
출력값 = 책01호.읽는시간()
print(출력값)

#reading_speed를 다르게 주고 싶다면 그렇게 할 수도 있음

streamlit
18.7

In [121]:
책02호=책()
책02호.TITLE="PYTHON"
print(책02호.title)
# 이거 주피터 선생님 화면에서는 PYTHON들어갔음...?
# 나는 왜 NONE?

None

In [ ]:
class 책:
    title = None         # 속성
    author = None        # 속성
    pages = 0            # 속성
    price = 0            # 속성
    discount = 0         # 속성

    def 읽는시간(self, reading_speed = 30):
        return round(self.pages / reading_speed, 1)

In [ ]:
# 인스턴스 생성
책01호 = 책()
책01호.title = "Streamlit"
책01호.author = "Evan"
책01호.pages = 560
책01호.price = 40000
책01호.discount = 10

print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간()
print(출력값)

In [ ]:
print(책01호.title, 책01호.author)
출력값 = 책01호.읽는시간(reading_speed = 5)
print(출력값)

##코드 업데이트

In [132]:
class 책() :
    def __init__(self, title, author, pages, price, discount_rate=0):
        self.title = title
        self.author = author
        self.pages = pages
        self.price = price
        self.discount_rate = discount_rate
    def reading_time(self,reading_speed=30):
        return round(self.pages / reading_speed, 1)
    def apply_discount(self):
        return self.price *(1-self.discount_rate)

In [126]:
책01호=책("샘플", "에반",300,20000,0.1)

책01호.title

'샘플'

In [134]:
책01호=책("샘플", "에반",300,20000,0.1)

책01호.reading_time()
책01호.apply_discount()

18000.0